.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-areas:
  'profile__name profile__edit-button'
  'profile__job .';
  column-gap: 18px;
  row-gap: 7px;
  align-self: center;
}

@media all and (max-width: 768px) {
  .profile__info {
    row-gap: 20px;
    grid-template-columns: auto 18px;
    grid-template-rows: auto 1fr;
    margin: 22px auto 32px auto;
  }
}

@media all and (max-width: 320px) {
  .profile__info {
    row-gap: 10px;
    column-gap: 14px;
    margin: 23px 15px 31px 44px;
  }
}
