.login__input {
  border-style: none;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  padding: 20px 0px 3px 0px;
  color: rgba(204, 204, 204, 1);
  font-family: Inter, Helvetica Neue, Arial,sans-serif;
}
