.login__button {
  min-width: 260px;
  width: 358px;
  height: 50px;
  margin-top: 140px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  color: rgba(0, 0, 0, 1);
  background-color: white;
  cursor: pointer;
}
