.header__email {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0 24px 0 0;
  height: 22px;
}

@media all and (max-width: 1024px) {
  .header__email {
    width: calc(100% - 2 * 60px);
  }
}

@media all and (max-width: 425px) {
  .header__email {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    margin: 0 0;
  }
}