.header__signOut {
  font-family: 'Inter';
  font-style: normal;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media all and (max-width: 425px) {
  .header__signOut {
    font-size: 14px;
    text-align: center;
    /*margin: 18px auto 20px auto;*/
    margin: 50px auto 0px auto;
    padding: 0 0;
  }
}