.popup__input {
  border-style: none;
  margin: 0px 36px 5px;
  border-bottom: 1px solid rgb(0%, 0%, 0%, 20%);
  padding: 0px 0px 3px 0px;
  font-family: Inter, Helvetica Neue, Arial,sans-serif;
}

@media all and (max-width: 440px) {
  .popup__input {
    margin: 0px 22px 10px;
  }
}
